
/* style for filter news component */
/* start */
.card
{
   width: 250px;
}

.content {
    padding : 10px 10px 0 10px ;

}
.head
{
    display : flex;
    justify-content : space-between;  
    border-bottom : 1px solid rgb(218, 207, 207);
}
.head h5{
    font-size: 13px;
    font-family: serif;
    font-weight: bold;
}
.head p 
{
    font-family: serif;
    font-size: 13px;
    font-weight: lighter;
    color : blue;

}
.select-box , label
{
    font-family: serif;
    font-size: smaller;
}
label
{
    text-transform: uppercase;
    font-weight: bolder;
}
input[type="date"] , .btn-submit
{
    width: 100%;
}
select
{
    display : block;
    width : 100%;
    font-weight: bolder;
    appearance: none;
    background : rgba(179, 174, 174 , 0.7);
    border-radius : 8px;
}
.reset
{
    cursor: pointer;
}
/* end */