/* Setting background color for components and background */
/* start */

.container-fluid,
html {
  background: #E7E4E7;
}

.header {
  background: white;
}

.loader
{
    width : 700px;
    text-align: center;
    height : 100%;
}

/* end */
