/* Setting background color for components and background */
/* start */

.container-fluid,
html {
  background: #f8f8f7;
}

.header {
  background: white;
  padding : 10px;
}

.loader
{
    width : 700px;
    text-align: center;
    height : 100%;
}

/* end */
