/* making a card for news fetched */
/* Start */
.news-card-main
{
    font-family: serif;
    background-color: #fff;
    width : 400px;
    border-radius: 4px;
    border: 4px solid rgb(231, 231, 228);
    box-shadow: 0px 0px 15px 1px #fff;
}
.news-title
{
    display: flex;
    font-weight: bolder;
    font-family: serif;
    justify-content : space-between;
}
.reference
{
    font-weight: bolder;
}
/* END */